section.section.section-news
	.wrapper.wrapper-news
		h2.h2-title.h2-title_news.left !{indexNewsText.h2[lang]}
		.news-slider-wrapper(data-aos="fade-up" data-aos-delay="300")
			.news-slider(class= "news-slider_" + lang)
				.news-slider__items.data--js-news(class="news-slider__items-" + lang)
		.navigation-wrapper.navigation-wrapper_news
			//.slide-number-wrapper.slide-number-wrapper_news
			//	.number-slider.current-slide
			//	.number-slider.number-of-slides
			//.dots-wrapper.dots-wrapper-news-init-js.dots-wrapper_news.clip-path
			.arrow-wrapper.arrow-wrapper-news-init-js.arrow-wrapper_news
