// FONTS
$font-raleway-sans: 'Raleway', sans-serif;
$root-font-size: 16px;

//COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-green: #3FC16A;
$color-red: #c51934;
$color-button: #ffaa1b;
$color-button_hover: #e69918;
$color-button_active: #FFAA1B;
$grey-1: #f8f8f8;
$grey-2: #eaeaea;
$grey-3: #fcfcfc;
$grey-4: #AFAFAF;
$grey-5: #767676;
$dark-5: #333333;
$font-dark-01: #0b3248;
$font-dark-02: #767676;
$font-dark-03: #afafaf;

